<!-- Topbar -->
<div class="topbar">
  <%= image_tag 'banko.png', alt: 'Banko logo' %>
  <% if current_user %>
    <div class="user">
      <p><%= current_user.email %></p>
      <div class="menu-arrows">
        <i class="arrow material-icons">keyboard_arrow_down</i>
        <i class="arrow hide material-icons">keyboard_arrow_up</i>
      </div>
      <div class="dropdown menu">
        <%= link_to web_session_path, data: { "turbo-method": :delete } do %>
          <div class="item">
            <i class="material-icons">logout</i>
            <p>Sign out</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
